In [2]:
import pandas as pd
from hnmchallenge.data_reader import DataReader
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from hnmchallenge.dataset import Dataset
from hnmchallenge.stratified_dataset import StratifiedDataset
from hnmchallenge.filtered_dataset import FilterdDataset
from hnmchallenge.models.top_pop import TopPop
from hnmchallenge.evaluation.python_evaluation import map_at_k
from hnmchallenge.constant import *

In [3]:
import logging
logger = logging.getLogger(__name__)
logging.basicConfig(level=logging.INFO)

In [4]:
dataset = FilterdDataset()
dr = DataReader()

In [5]:
fd = dr.get_filtered_full_data()

In [6]:
fd

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
1        2018-09-20            0           0  0.008458                 2
2        2018-09-20            1           1  0.033881                 1
3        2018-09-20            2           2  0.021593                 1
4        2018-09-20            3           3  0.022017                 2
...             ...          ...         ...       ...               ...
14361083 2020-09-22       198005       20308  0.059305                 2
14361084 2020-09-22       198005       16094  0.042356                 2
14361085 2020-09-22       798833       21707  0.043203                 1
14361086 2020-09-22       395317        4994  0.006763                 1
14361087 2020-09-22       728040       20519  0.033881                 2

[14361088 rows x 5 columns]

In [59]:
fd[DEFAULT_USER_COL].nunique()

1136206

In [7]:
fd = fd.drop_duplicates([DEFAULT_USER_COL, DEFAULT_ITEM_COL])

In [8]:
fd

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
2        2018-09-20            1           1  0.033881                 1
3        2018-09-20            2           2  0.021593                 1
4        2018-09-20            3           3  0.022017                 2
6        2018-09-20            4           4  0.032186                 2
...             ...          ...         ...       ...               ...
14361082 2020-09-22        59779        9279  0.042356                 2
14361083 2020-09-22       198005       20308  0.059305                 2
14361085 2020-09-22       798833       21707  0.043203                 1
14361086 2020-09-22       395317        4994  0.006763                 1
14361087 2020-09-22       728040       20519  0.033881                 2

[12106980 rows x 5 columns]

In [9]:
count_mb = fd.groupby(DEFAULT_ITEM_COL).count()
feature = count_mb.reset_index()[[DEFAULT_ITEM_COL, "t_dat"]].rename(
            columns={"t_dat": "popularity"})

In [10]:
feature

       article_id  popularity
0               0        3196
1               1        2074
2               2        1042
3               3        1595
4               4        3517
...           ...         ...
22064       22064           1
22065       22065           1
22066       22066           1
22067       22067           1
22068       22068           1

[22069 rows x 2 columns]

In [11]:
feature["popularity_score"]=(feature["popularity"]-feature["popularity"].min())/(feature["popularity"].max()-feature["popularity"].min())

In [12]:
feature

       article_id  popularity  popularity_score
0               0        3196          0.099070
1               1        2074          0.064279
2               2        1042          0.032279
3               3        1595          0.049426
4               4        3517          0.109023
...           ...         ...               ...
22064       22064           1          0.000000
22065       22065           1          0.000000
22066       22066           1          0.000000
22067       22067           1          0.000000
22068       22068           1          0.000000

[22069 rows x 3 columns]

In [13]:
feature['rank'] = feature['popularity_score'].rank(ascending=False,method='min').astype(int)

In [14]:
feature

       article_id  popularity  popularity_score   rank
0               0        3196          0.099070    540
1               1        2074          0.064279   1182
2               2        1042          0.032279   3093
3               3        1595          0.049426   1754
4               4        3517          0.109023    461
...           ...         ...               ...    ...
22064       22064           1          0.000000  21716
22065       22065           1          0.000000  21716
22066       22066           1          0.000000  21716
22067       22067           1          0.000000  21716
22068       22068           1          0.000000  21716

[22069 rows x 4 columns]

In [15]:
df=dr.get_filtered_full_data()

In [16]:
df= df.drop_duplicates([DEFAULT_USER_COL, DEFAULT_ITEM_COL])

In [17]:
df

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
2        2018-09-20            1           1  0.033881                 1
3        2018-09-20            2           2  0.021593                 1
4        2018-09-20            3           3  0.022017                 2
6        2018-09-20            4           4  0.032186                 2
...             ...          ...         ...       ...               ...
14361082 2020-09-22        59779        9279  0.042356                 2
14361083 2020-09-22       198005       20308  0.059305                 2
14361085 2020-09-22       798833       21707  0.043203                 1
14361086 2020-09-22       395317        4994  0.006763                 1
14361087 2020-09-22       728040       20519  0.033881                 2

[12106980 rows x 5 columns]

In [18]:
df["last_buy"] = df.groupby(DEFAULT_USER_COL)["t_dat"].transform(max)
df["first_buy"] = df.groupby(DEFAULT_USER_COL)["t_dat"].transform(min)
df["time_score"] = (df["t_dat"] - df["first_buy"]) / (
            df["last_buy"] - df["first_buy"]
        )

In [19]:
df=df.fillna(1)#df["tdiff"] =1/ ((df["last_buy"]-df["t_dat"]).dt.days)

In [20]:
df

,t_dat,customer_id,article_id,price,sales_channel_id,last_buy,first_buy,time_score
0,2018-09-20,0,0,0.008458,2,2020-04-15,2018-09-20,0.0
2,2018-09-20,1,1,0.033881,1,2020-08-12,2018-09-20,0.0
3,2018-09-20,2,2,0.021593,1,2020-03-10,2018-09-20,0.0
4,2018-09-20,3,3,0.022017,2,2019-09-28,2018-09-20,0.0
6,2018-09-20,4,4,0.032186,2,2018-09-20,2018-09-20,1.0
...,...,...,...,...,...,...,...,...
14361082,2020-09-22,59779,9279,0.042356,2,2020-09-22,2018-10-04,1.0
14361083,2020-09-22,198005,20308,0.059305,2,2020-09-22,2018-11-23,1.0
14361085,2020-09-22,798833,21707,0.043203,1,2020-09-22,2019-12-02,1.0
14361086,2020-09-22,395317,4994,0.006763,1,2020-09-22,2019-03-08,1.0
14361087,2020-09-22,728040,20519,0.033881,2,2020-09-22,2019-10-06,1.0

In [21]:
df["rank_time"] = df.groupby(DEFAULT_USER_COL)["time_score"].rank(ascending=False,method='min').astype(int)

In [22]:
df

,t_dat,customer_id,article_id,price,sales_channel_id,last_buy,first_buy,time_score,rank_time
0,2018-09-20,0,0,0.008458,2,2020-04-15,2018-09-20,0.0,11
2,2018-09-20,1,1,0.033881,1,2020-08-12,2018-09-20,0.0,21
3,2018-09-20,2,2,0.021593,1,2020-03-10,2018-09-20,0.0,26
4,2018-09-20,3,3,0.022017,2,2019-09-28,2018-09-20,0.0,4
6,2018-09-20,4,4,0.032186,2,2018-09-20,2018-09-20,1.0,1
...,...,...,...,...,...,...,...,...,...
14361082,2020-09-22,59779,9279,0.042356,2,2020-09-22,2018-10-04,1.0,1
14361083,2020-09-22,198005,20308,0.059305,2,2020-09-22,2018-11-23,1.0,1
14361085,2020-09-22,798833,21707,0.043203,1,2020-09-22,2019-12-02,1.0,1
14361086,2020-09-22,395317,4994,0.006763,1,2020-09-22,2019-03-08,1.0,1
14361087,2020-09-22,728040,20519,0.033881,2,2020-09-22,2019-10-06,1.0,1

In [23]:
df.loc[df[DEFAULT_USER_COL]==1]

,t_dat,customer_id,article_id,price,sales_channel_id,last_buy,first_buy,time_score,rank_time
2,2018-09-20,1,1,0.033881,1,2020-08-12,2018-09-20,0.000000,21
324870,2018-11-11,1,482,0.030153,2,2020-08-12,2018-09-20,0.075145,19
324871,2018-11-11,1,759,0.030153,2,2020-08-12,2018-09-20,0.075145,19
821881,2019-01-31,1,2006,0.033881,2,2020-08-12,2018-09-20,0.192197,18
1521318,2019-04-18,1,339,0.020492,2,2020-08-12,2018-09-20,0.303468,17
6310076,2020-02-06,1,6018,0.025407,1,2020-08-12,2018-09-20,0.728324,16
6357466,2020-02-08,1,7534,0.008458,2,2020-08-12,2018-09-20,0.731214,12
6357468,2020-02-08,1,6419,0.022864,1,2020-08-12,2018-09-20,0.731214,12
6357469,2020-02-08,1,7628,0.030492,2,2020-08-12,2018-09-20,0.731214,12
6357470,2020-02-08,1,981,0.038119,1,2020-08-12,2018-09-20,0.731214,12
6851318,2020-03-01,1,6117,0.025407,2,2020-08-12,2018-09-20,0.763006,10
6851319,2020-03-01,1,7823,0.025407,2,2020-08-12,2018-09-20,0.763006,10
7275129,2020-03-19,1,1482,0.021780,2,2020-08-12,2018-09-20,0.789017,8
7275130,2020-03-19,1,6992,0.018864,2,2020-08-12,2018-09-20,0.789017,8
8437045,2020-04-26,1,3503,0.006763,2,2020-08-12,2018-09-20,0.843931,6
8437046,2020-04-26,1,2997,0.006763,2,2020-08-12,2018-09-20,0.843931,6
10050296,2020-06-11,1,3161,0.016932,1,2020-08-12,2018-09-20,0.910405,5
11357934,2020-07-05,1,8254,0.033881,1,2020-08-12,2018-09-20,0.945087,4
12829481,2020-08-12,1,16695,0.020322,2,2020-08-12,2018-09-20,1.000000,1
12829482,2020-08-12,1,13392,0.013542,2,2020-08-12,2018-09-20,1.000000,1
12829483,2020-08-12,1,2427,0.006763,2,2020-08-12,2018-09-20,1.000000,1

In [24]:
feature

       article_id  popularity  popularity_score   rank
0               0        3196          0.099070    540
1               1        2074          0.064279   1182
2               2        1042          0.032279   3093
3               3        1595          0.049426   1754
4               4        3517          0.109023    461
...           ...         ...               ...    ...
22064       22064           1          0.000000  21716
22065       22065           1          0.000000  21716
22066       22066           1          0.000000  21716
22067       22067           1          0.000000  21716
22068       22068           1          0.000000  21716

[22069 rows x 4 columns]

In [25]:
final=pd.merge(df, feature, on =DEFAULT_ITEM_COL, how='left')

In [26]:
final

,t_dat,customer_id,article_id,price,sales_channel_id,last_buy,first_buy,time_score,rank_time,popularity,popularity_score,rank
0,2018-09-20,0,0,0.008458,2,2020-04-15,2018-09-20,0.0,11,3196,0.099070,540
1,2018-09-20,1,1,0.033881,1,2020-08-12,2018-09-20,0.0,21,2074,0.064279,1182
2,2018-09-20,2,2,0.021593,1,2020-03-10,2018-09-20,0.0,26,1042,0.032279,3093
3,2018-09-20,3,3,0.022017,2,2019-09-28,2018-09-20,0.0,4,1595,0.049426,1754
4,2018-09-20,4,4,0.032186,2,2018-09-20,2018-09-20,1.0,1,3517,0.109023,461
...,...,...,...,...,...,...,...,...,...,...,...,...
12106975,2020-09-22,59779,9279,0.042356,2,2020-09-22,2018-10-04,1.0,1,1396,0.043256,2112
12106976,2020-09-22,198005,20308,0.059305,2,2020-09-22,2018-11-23,1.0,1,161,0.004961,12140
12106977,2020-09-22,798833,21707,0.043203,1,2020-09-22,2019-12-02,1.0,1,6,0.000155,20450
12106978,2020-09-22,395317,4994,0.006763,1,2020-09-22,2019-03-08,1.0,1,822,0.025457,4039
12106979,2020-09-22,728040,20519,0.033881,2,2020-09-22,2019-10-06,1.0,1,392,0.012124,7677

In [27]:
final.loc[final[DEFAULT_USER_COL]==1]

,t_dat,customer_id,article_id,price,sales_channel_id,last_buy,first_buy,time_score,rank_time,popularity,popularity_score,rank
1,2018-09-20,1,1,0.033881,1,2020-08-12,2018-09-20,0.000000,21,2074,0.064279,1182
272583,2018-11-11,1,482,0.030153,2,2020-08-12,2018-09-20,0.075145,19,887,0.027473,3721
272584,2018-11-11,1,759,0.030153,2,2020-08-12,2018-09-20,0.075145,19,340,0.010512,8370
681809,2019-01-31,1,2006,0.033881,2,2020-08-12,2018-09-20,0.192197,18,5401,0.167442,183
1252469,2019-04-18,1,339,0.020492,2,2020-08-12,2018-09-20,0.303468,17,3211,0.099535,535
5245677,2020-02-06,1,6018,0.025407,1,2020-08-12,2018-09-20,0.728324,16,1563,0.048434,1804
5285422,2020-02-08,1,7534,0.008458,2,2020-08-12,2018-09-20,0.731214,12,1167,0.036155,2682
5285423,2020-02-08,1,6419,0.022864,1,2020-08-12,2018-09-20,0.731214,12,232,0.007163,10311
5285424,2020-02-08,1,7628,0.030492,2,2020-08-12,2018-09-20,0.731214,12,586,0.018140,5627
5285425,2020-02-08,1,981,0.038119,1,2020-08-12,2018-09-20,0.731214,12,911,0.028217,3601
5701807,2020-03-01,1,6117,0.025407,2,2020-08-12,2018-09-20,0.763006,10,1187,0.036775,2619
5701808,2020-03-01,1,7823,0.025407,2,2020-08-12,2018-09-20,0.763006,10,1644,0.050946,1677
6058205,2020-03-19,1,1482,0.021780,2,2020-08-12,2018-09-20,0.789017,8,25485,0.790202,3
6058206,2020-03-19,1,6992,0.018864,2,2020-08-12,2018-09-20,0.789017,8,395,0.012217,7637
7025575,2020-04-26,1,3503,0.006763,2,2020-08-12,2018-09-20,0.843931,6,2353,0.072930,956
7025576,2020-04-26,1,2997,0.006763,2,2020-08-12,2018-09-20,0.843931,6,7999,0.248000,78
8390855,2020-06-11,1,3161,0.016932,1,2020-08-12,2018-09-20,0.910405,5,7422,0.230109,96
9516604,2020-07-05,1,8254,0.033881,1,2020-08-12,2018-09-20,0.945087,4,4046,0.125426,346
10789262,2020-08-12,1,16695,0.020322,2,2020-08-12,2018-09-20,1.000000,1,906,0.028062,3626
10789263,2020-08-12,1,13392,0.013542,2,2020-08-12,2018-09-20,1.000000,1,799,0.024744,4158
10789264,2020-08-12,1,2427,0.006763,2,2020-08-12,2018-09-20,1.000000,1,6838,0.212000,113

In [28]:
user=dr.get_filtered_full_data()

In [29]:
user = user.drop_duplicates([DEFAULT_USER_COL])

In [30]:
user['temp']=1

In [31]:
user=user[[DEFAULT_USER_COL,'temp']]

In [32]:
user

          customer_id  temp
0                   0     1
2                   1     1
3                   2     1
4                   3     1
6                   4     1
...               ...   ...
14360981      1136201     1
14361007      1136202     1
14361039      1136203     1
14361045      1136204     1
14361047      1136205     1

[1136206 rows x 2 columns]

In [33]:
feature_100=feature[feature['rank']<=100]

In [34]:
feature_100['temp']=1

/tmp/ipykernel_56988/2326839388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_100['temp']=1

In [35]:
final1=pd.merge(user, feature_100, on='temp')

In [36]:
final1

           customer_id  temp  article_id  popularity  popularity_score  rank
0                    0     1           5       10904          0.338078    34
1                    0     1           7       16694          0.517612    11
2                    0     1           8        8351          0.258915    67
3                    0     1          11       22571          0.699845     4
4                    0     1          19       16854          0.522574    10
...                ...   ...         ...         ...               ...   ...
113620595      1136205     1        3765        7826          0.242636    82
113620596      1136205     1        3830        7753          0.240372    84
113620597      1136205     1        3899        8393          0.260217    65
113620598      1136205     1        4475        7542          0.233829    95
113620599      1136205     1        8736        7598          0.235566    92

[113620600 rows x 6 columns]

In [37]:
final1=final1.drop('temp', axis=1)

In [38]:
final1

           customer_id  article_id  popularity  popularity_score  rank
0                    0           5       10904          0.338078    34
1                    0           7       16694          0.517612    11
2                    0           8        8351          0.258915    67
3                    0          11       22571          0.699845     4
4                    0          19       16854          0.522574    10
...                ...         ...         ...               ...   ...
113620595      1136205        3765        7826          0.242636    82
113620596      1136205        3830        7753          0.240372    84
113620597      1136205        3899        8393          0.260217    65
113620598      1136205        4475        7542          0.233829    95
113620599      1136205        8736        7598          0.235566    92

[113620600 rows x 5 columns]

In [39]:
final1[final1['customer_id']==1]

     customer_id  article_id  popularity  popularity_score  rank
100            1           5       10904          0.338078    34
101            1           7       16694          0.517612    11
102            1           8        8351          0.258915    67
103            1          11       22571          0.699845     4
104            1          19       16854          0.522574    10
..           ...         ...         ...               ...   ...
195            1        3765        7826          0.242636    82
196            1        3830        7753          0.240372    84
197            1        3899        8393          0.260217    65
198            1        4475        7542          0.233829    95
199            1        8736        7598          0.235566    92

[100 rows x 5 columns]

In [40]:
final

,t_dat,customer_id,article_id,price,sales_channel_id,last_buy,first_buy,time_score,rank_time,popularity,popularity_score,rank
0,2018-09-20,0,0,0.008458,2,2020-04-15,2018-09-20,0.0,11,3196,0.099070,540
1,2018-09-20,1,1,0.033881,1,2020-08-12,2018-09-20,0.0,21,2074,0.064279,1182
2,2018-09-20,2,2,0.021593,1,2020-03-10,2018-09-20,0.0,26,1042,0.032279,3093
3,2018-09-20,3,3,0.022017,2,2019-09-28,2018-09-20,0.0,4,1595,0.049426,1754
4,2018-09-20,4,4,0.032186,2,2018-09-20,2018-09-20,1.0,1,3517,0.109023,461
...,...,...,...,...,...,...,...,...,...,...,...,...
12106975,2020-09-22,59779,9279,0.042356,2,2020-09-22,2018-10-04,1.0,1,1396,0.043256,2112
12106976,2020-09-22,198005,20308,0.059305,2,2020-09-22,2018-11-23,1.0,1,161,0.004961,12140
12106977,2020-09-22,798833,21707,0.043203,1,2020-09-22,2019-12-02,1.0,1,6,0.000155,20450
12106978,2020-09-22,395317,4994,0.006763,1,2020-09-22,2019-03-08,1.0,1,822,0.025457,4039
12106979,2020-09-22,728040,20519,0.033881,2,2020-09-22,2019-10-06,1.0,1,392,0.012124,7677

In [41]:
final=final.drop(['popularity_score','rank','popularity','t_dat','price','sales_channel_id','last_buy','first_buy'], axis=1)

In [42]:
final2=pd.merge(final,final1,on=[DEFAULT_USER_COL,DEFAULT_ITEM_COL],how='outer')

In [43]:
final[final[DEFAULT_USER_COL]==1]

          customer_id  article_id  time_score  rank_time
1                   1           1    0.000000         21
272583              1         482    0.075145         19
272584              1         759    0.075145         19
681809              1        2006    0.192197         18
1252469             1         339    0.303468         17
5245677             1        6018    0.728324         16
5285422             1        7534    0.731214         12
5285423             1        6419    0.731214         12
5285424             1        7628    0.731214         12
5285425             1         981    0.731214         12
5701807             1        6117    0.763006         10
5701808             1        7823    0.763006         10
6058205             1        1482    0.789017          8
6058206             1        6992    0.789017          8
7025575             1        3503    0.843931          6
7025576             1        2997    0.843931          6
8390855             1        3161    0.910405          5
9516604             1        8254    0.945087          4
10789262            1       16695    1.000000          1
10789263            1       13392    1.000000          1
10789264            1        2427    1.000000          1

In [44]:
final2[final2[DEFAULT_USER_COL]==1]

,customer_id,article_id,time_score,rank_time,popularity,popularity_score,rank
1,1,1,0.000000,21.0,NaN,NaN,NaN
272583,1,482,0.075145,19.0,NaN,NaN,NaN
272584,1,759,0.075145,19.0,NaN,NaN,NaN
681809,1,2006,0.192197,18.0,NaN,NaN,NaN
1252469,1,339,0.303468,17.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
12107169,1,3765,NaN,NaN,7826.0,0.242636,82.0
12107170,1,3830,NaN,NaN,7753.0,0.240372,84.0
12107171,1,3899,NaN,NaN,8393.0,0.260217,65.0
12107172,1,4475,NaN,NaN,7542.0,0.233829,95.0
12107173,1,8736,NaN,NaN,7598.0,0.235566,92.0

In [45]:
mask = final2.isnull().any(axis=1)

In [46]:
final3=final2[~mask]

In [47]:
final3[final3[DEFAULT_USER_COL]==1]

,customer_id,article_id,time_score,rank_time,popularity,popularity_score,rank
6058205,1,1482,0.789017,8.0,25485.0,0.790202,3.0
7025576,1,2997,0.843931,6.0,7999.0,0.248000,78.0
8390855,1,3161,0.910405,5.0,7422.0,0.230109,96.0

In [48]:
final2=final2.fillna(0)

In [49]:
final2

,customer_id,article_id,time_score,rank_time,popularity,popularity_score,rank
0,0,0,0.0,11.0,0.0,0.000000,0.0
1,1,1,0.0,21.0,0.0,0.000000,0.0
2,2,2,0.0,26.0,0.0,0.000000,0.0
3,3,3,0.0,4.0,0.0,0.000000,0.0
4,4,4,1.0,1.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...
124619397,1136205,3765,0.0,0.0,7826.0,0.242636,82.0
124619398,1136205,3830,0.0,0.0,7753.0,0.240372,84.0
124619399,1136205,3899,0.0,0.0,8393.0,0.260217,65.0
124619400,1136205,4475,0.0,0.0,7542.0,0.233829,95.0
124619401,1136205,8736,0.0,0.0,7598.0,0.235566,92.0

In [50]:
final2=final2.drop(['rank_time','rank'],axis=1)

In [51]:
a=0.95
eps=1e-6
final2['score']=a*final2['time_score']+(1-a+eps)*final2['popularity_score']

In [52]:
final2

,customer_id,article_id,time_score,popularity,popularity_score,score
0,0,0,0.0,0.0,0.000000,0.000000
1,1,1,0.0,0.0,0.000000,0.000000
2,2,2,0.0,0.0,0.000000,0.000000
3,3,3,0.0,0.0,0.000000,0.000000
4,4,4,1.0,0.0,0.000000,0.950000
...,...,...,...,...,...,...
124619397,1136205,3765,0.0,7826.0,0.242636,0.012132
124619398,1136205,3830,0.0,7753.0,0.240372,0.012019
124619399,1136205,3899,0.0,8393.0,0.260217,0.013011
124619400,1136205,4475,0.0,7542.0,0.233829,0.011692
124619401,1136205,8736,0.0,7598.0,0.235566,0.011779

In [53]:
final2["rank"] = final2.groupby(DEFAULT_USER_COL)["score"].rank(ascending=False,method='min').astype(int)

In [54]:
final2

,customer_id,article_id,time_score,popularity,popularity_score,score,rank
0,0,0,0.0,0.0,0.000000,0.000000,108
1,1,1,0.0,0.0,0.000000,0.000000,118
2,2,2,0.0,0.0,0.000000,0.000000,122
3,3,3,0.0,0.0,0.000000,0.000000,104
4,4,4,1.0,0.0,0.000000,0.950000,1
...,...,...,...,...,...,...,...
124619397,1136205,3765,0.0,7826.0,0.242636,0.012132,88
124619398,1136205,3830,0.0,7753.0,0.240372,0.012019,90
124619399,1136205,3899,0.0,8393.0,0.260217,0.013011,71
124619400,1136205,4475,0.0,7542.0,0.233829,0.011692,101
124619401,1136205,8736,0.0,7598.0,0.235566,0.011779,98

In [55]:
final2=final2.drop(["time_score","popularity","popularity_score"],axis=1)

In [56]:
final2[DEFAULT_USER_COL].nunique()

1136206

In [57]:
final2

           customer_id  article_id     score  rank
0                    0           0  0.000000   108
1                    1           1  0.000000   118
2                    2           2  0.000000   122
3                    3           3  0.000000   104
4                    4           4  0.950000     1
...                ...         ...       ...   ...
124619397      1136205        3765  0.012132    88
124619398      1136205        3830  0.012019    90
124619399      1136205        3899  0.013011    71
124619400      1136205        4475  0.011692   101
124619401      1136205        8736  0.011779    98

[124619402 rows x 4 columns]

In [58]:
cutoff = final2.groupby(DEFAULT_USER_COL).size().values

In [60]:
cutoff

array([108, 118, 122, ..., 103, 101, 106])

In [65]:
i=0
filter_indices = []
for cut in cutoff:
    filter_indices.extend(range(i, i+12))
    i=i+cut

In [66]:
filter_indices

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1399,
 1400,
 1401,
 1402,
 1403,
 1404,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 2043,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2053,
 2054,
 2183,
 2184,
 2185,
 2186,
 2187,
 2188,
 2189,
 2190,
 2191,
 2192,
 2193,
 2194,
 2318,
 2319,
 2320,
 2321,
 2322,
 2323,
 2324,
 2325,
 2326,
 2327,
 2328,
 2329,
 2421,
 2422,
 2423,
 2424,
 2425,
 2426,
 2427,
 2428,
 2429,
 2430,
 2431,
 2432,
 2528,
 2529,
 2530,
 2531,
 2532,
 2533,
 2534,
 2535,
 2536,
 2537,
 2538,
 2539,
 2629,
 2630,
 2631,
 2632,
 2633,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2730,
 2731,
 2732,
 2733,
 2734,
 2735,
 2736,
 2737,
 2738,
 2739,
 2740,
 2741,
 2892,
 2893,
 2894,
 2895,
 2896,
 2897,
 2898,
 2899,
 2900,
 2901,
 2902,
 2903,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3194,
 3195,
 3196,
 3197,
 3198,
 3199,
 3200,
 3201,
 3202,
 3203,
 3204,
 3205,
 3295,
 3296,
 3297,
 3298,
 3299,
 3300,
 3301,
 3302,
 3303,
 3304,
 3305,
 3306,
 3404,
 3405,
 3406,
 3407,
 3408,
 3409,
 3410,
 3411,
 3412,
 3413,
 3414,
 3415,
 3549,
 3550,
 3551,
 3552,
 3553,
 3554,
 3555,
 3556,
 3557,
 3558,
 3559,
 3560,
 3788,
 3789,
 3790,
 3791,
 3792,
 3793,
 3794,
 3795,
 3796,
 3797,
 3798,
 3799,
 3914,
 3915,
 3916,
 3917,
 3918,
 3919,
 3920,
 3921,
 3922,
 3923,
 3924,
 3925,
 4030,
 4031,
 4032,
 4033,
 4034,
 4035,
 4036,
 4037,
 4038,
 4039,
 4040,
 4041,
 4162,
 4163,
 4164,
 4165,
 4166,
 4167,
 4168,
 4169,
 4170,
 4171,
 4172,
 4173,
 4284,
 4285,
 4286,
 4287,
 4288,
 4289,
 4290,
 4291,
 4292,
 4293,
 4294,
 4295,
 4511,
 4512,
 4513,
 4514,
 4515,
 4516,
 4517,
 4518,
 4519,
 4520,
 4521,
 4522,
 4636,
 4637,
 4638,
 4639,
 4640,
 4641,
 4642,
 4643,
 4644,
 4645,
 4646,
 4647,
 4748,
 4749,
 4750,
 4751,
 4752,
 4753,
 4754,
 4755,
 4756,
 4757,
 4758,
 4759,
 4864,
 4865,
 4866,
 4867,
 4868,
 4869,
 4870,
 4871,
 4872,
 4873,
 4874,
 4875,
 5037,
 5038,
 5039,
 5040,
 5041,
 5042,
 5043,
 5044,
 5045,
 5046,
 5047,
 5048,
 5149,
 5150,
 5151,
 5152,
 5153,
 5154,
 5155,
 5156,
 5157,
 5158,
 5159,
 5160,
 5278,
 5279,
 5280,
 5281,
 5282,
 5283,
 5284,
 5285,
 5286,
 5287,
 5288,
 5289,
 5411,
 5412,
 5413,
 5414,
 5415,
 5416,
 5417,
 5418,
 5419,
 5420,
 5421,
 5422,
 5513,
 5514,
 5515,
 5516,
 5517,
 5518,
 5519,
 5520,
 5521,
 5522,
 5523,
 5524,
 5628,
 5629,
 5630,
 5631,
 5632,
 5633,
 5634,
 5635,
 5636,
 5637,
 5638,
 5639,
 5746,
 5747,
 5748,
 5749,
 5750,
 5751,
 5752,
 5753,
 5754,
 5755,
 5756,
 5757,
 5862,
 5863,
 5864,
 5865,
 5866,
 5867,
 5868,
 5869,
 5870,
 5871,
 5872,
 5873,
 6010,
 6011,
 6012,
 6013,
 6014,
 6015,
 6016,
 6017,
 6018,
 6019,
 6020,
 6021,
 6129,
 6130,
 6131,
 6132,
 6133,
 6134,
 6135,
 6136,
 6137,
 6138,
 6139,
 6140,
 6250,
 6251,
 6252,
 6253,
 6254,
 6255,
 6256,
 6257,
 6258,
 6259,
 6260,
 6261,
 6365,
 6366,
 6367,
 6368,
 6369,
 6370,
 6371,
 6372,
 6373,
 6374,
 6375,
 6376,
 6472,
 6473,
 6474,
 6475,
 6476,
 6477,
 6478,
 6479,
 6480,
 6481,
 6482,
 6483,
 6609,
 6610,
 6611,
 6612,
 6613,
 6614,
 6615,
 6616,
 6617,
 6618,
 6619,
 6620,
 6725,
 6726,
 6727,
 6728,
 6729,
 6730,
 6731,
 6732,
 6733,
 6734,
 6735,
 6736,
 6836,
 6837,
 6838,
 6839,
 6840,
 6841,
 6842,
 6843,
 6844,
 6845,
 6846,
 6847,
 7031,
 7032,
 7033,
 7034,
 7035,
 7036,
 7037,
 7038,
 7039,
 7040,
 7041,
 7042,
 7151,
 7152,
 7153,
 7154,
 7155,
 7156,
 7157,
 7158,
 7159,
 7160,
 7161,
 7162,
 7262,
 7263,
 7264,
 7265,
 7266,
 7267,
 7268,
 7269,
 7270,
 7271,
 7272,
 7273,
 7367,
 7368,
 7369,
 7370,
 7371,
 7372,
 7373,
 7374,
 7375,
 7376,
 7377,
 7378,
 7467,
 7468,
 7469,
 7470,
 7471,
 7472,
 7473,
 7474,
 7475,
 7476,
 7477,
 7478,
 7663,
 7664,
 7665,
 7666,
 7667,
 7668,
 7669,
 7670,
 7671,
 7672,
 7673,
 7674,
 7773,
 7774,
 7775,
 7776,
 7777,
 7778,
 7779,
 7780,
 7781,
 7782,
 7783,
 7784,
 7920,
 7921,
 7922,
 7923,
 7924,
 7925,
 7926,
 7927,
 7928,
 7929,
 7930,
 7931,
 8026,
 8027,
 8028,
 8029,
 8030,
 8031,
 8032,
 8033,
 8034,
 8035,
 8036,
 8037,
 8144,
 8145,
 8146,
 8147,
 8148,
 8149,
 8150,
 8151,
 8152,
 8153,
 8154,
 8155,
 8265,
 8266,
 8267,
 8268,
 8269,
 8270,
 8271,
 8272,
 8273,
 8274,
 8275,
 8276,
 8380,
 8381,
 8382,
 8383,
 8384,
 8385,
 8386,
 8387,
 8388,
 8389,
 8390,
 8391,
 8484,
 8485,
 8486,
 8487,
 8488,
 8489,
 8490,
 8491,
 8492,
 8493,
 8494,
 8495,
 8585,
 8586,
 8587,
 8588,
 8589,
 8590,
 8591,
 8592,
 8593,
 8594,
 8595,
 8596,
 8692,
 8693,
 8694,
 8695,
 8696,
 8697,
 8698,
 8699,
 8700,
 8701,
 8702,
 8703,
 8796,
 8797,
 8798,
 8799,
 8800,
 8801,
 8802,
 8803,
 8804,
 8805,
 8806,
 8807,
 8903,
 8904,
 8905,
 8906,
 8907,
 8908,
 8909,
 8910,
 8911,
 8912,
 8913,
 8914,
 9004,
 9005,
 9006,
 9007,
 9008,
 9009,
 9010,
 9011,
 9012,
 9013,
 9014,
 9015,
 9106,
 9107,
 9108,
 9109,
 9110,
 9111,
 9112,
 9113,
 9114,
 9115,
 9116,
 9117,
 9223,
 9224,
 9225,
 9226,
 9227,
 9228,
 9229,
 9230,
 9231,
 9232,
 9233,
 9234,
 9368,
 9369,
 9370,
 9371,
 9372,
 9373,
 9374,
 9375,
 9376,
 9377,
 9378,
 9379,
 9497,
 9498,
 9499,
 9500,
 9501,
 9502,
 9503,
 9504,
 9505,
 9506,
 9507,
 9508,
 9598,
 9599,
 9600,
 9601,
 9602,
 9603,
 9604,
 9605,
 9606,
 9607,
 9608,
 9609,
 9699,
 9700,
 9701,
 9702,
 9703,
 9704,
 9705,
 9706,
 9707,
 9708,
 9709,
 9710,
 9830,
 9831,
 9832,
 9833,
 9834,
 9835,
 9836,
 9837,
 9838,
 9839,
 9840,
 9841,
 9942,
 9943,
 9944,
 9945,
 9946,
 9947,
 9948,
 9949,
 9950,
 9951,
 9952,
 9953,
 10074,
 10075,
 10076,
 10077,
 10078,
 10079,
 10080,
 10081,
 10082,
 10083,
 10084,
 10085,
 10175,
 10176,
 10177,
 10178,
 10179,
 10180,
 10181,
 10182,
 10183,
 10184,
 10185,
 10186,
 10312,
 10313,
 10314,
 10315,
 ...]

In [69]:
final2.head()

   customer_id  article_id  score  rank
0            0           0   0.00   108
1            1           1   0.00   118
2            2           2   0.00   122
3            3           3   0.00   104
4            4           4   0.95     1

In [75]:
final2 = final2.sort_values(DEFAULT_USER_COL, ascending=True)

In [76]:
final2.head()

          customer_id  article_id     score  rank
0                   0           0  0.000000   108
12107000            0         171  0.021461    29
12106987            0          56  0.020914    30
12106996            0         124  0.019960    31
12106990            0          79  0.018841    32

In [80]:
final2 = final2.sort_values([DEFAULT_USER_COL, "rank"], ascending=True)

In [92]:
final2

           customer_id  article_id     score  rank
0                    0        1638  1.000001     1
1                    0        1482  0.989511     2
2                    0        1797  0.975169     3
3                    0        4861  0.950000     4
4                    0        9027  0.950000     4
...                ...         ...       ...   ...
124619397      1136205        3161  0.011506   102
124619398      1136205        1601  0.011417   103
124619399      1136205         421  0.011368   104
124619400      1136205         725  0.011245   105
124619401      1136205         187  0.011172   106

[124619402 rows x 4 columns]

In [85]:
final2 = final2.reset_index(drop=True)

In [86]:
final_df = final2.loc[filter_indices]

In [87]:
final_df[DEFAULT_USER_COL].nunique()

1136206

In [88]:
final_final_df = final_df.drop(["score","rank"] ,axis=1)

In [89]:
final_final_df[DEFAULT_USER_COL].nunique()

1136206

In [90]:
from hnmchallenge.submission_handler import SubmissionHandler
sh = SubmissionHandler()

In [91]:
sh.create_submission_filtered_data([final_final_df], sub_name="Time_Pop")

INFO:hnmchallenge.submission_handler:Submission with Filtered Data: Time_Pop created succesfully!