In [4]:
import pandas as pd
from hnmchallenge.constant import *
from hnmchallenge.models.itemknn.itemknn import ItemKNN
from hnmchallenge.models_prediction.recs_interface import RecsInterface

from hnmchallenge.utils.logger import set_color
from hnmchallenge.models_prediction.itemknn_recs import ItemKNNRecs
from hnmchallenge.models_prediction.ensemble_recs import EnsembleRecs
from hnmchallenge.models_prediction.popularity_recs import PopularityRecs

In [5]:
dataset = StratifiedDataset()

In [6]:
rec_ens_1 = ItemKNNRecs(
        kind="train", cutoff=50, time_weight=True, remove_seen=False, dataset=dataset
    )

rec_ens_2 = PopularityRecs(
        kind="train", cutoff=20, dataset=dataset
    )

In [7]:
ensemble = EnsembleRecs(models_list=[rec_ens_1, rec_ens_2], kind="train", dataset=dataset)

Creating ensemble with:
ItemKNN_tw_True_rs_False
Popularity_cutoff_20

In [24]:
import numpy as np
np.arange(1,3)

array([1, 2])

In [20]:
recs[[DEFAULT_USER_COL, "rank"]][0:55]

          customer_id  rank
0                   0     0
36                  0     1
37                  0     2
38                  0     3
39                  0     4
40                  0     5
41                  0     6
42                  0     7
43                  0     8
44                  0     9
45                  0    10
46                  0    11
47                  0    12
48                  0    13
49                  0    14
56435801            0    15
56435817            0    16
56435816            0    17
56435802            0    18
56435803            0    19
56435804            0    20
56435805            0    21
56435806            0    22
56435807            0    23
35                  0    24
56435808            0    25
56435810            0    26
56435811            0    27
56435812            0    28
56435813            0    29
56435814            0    30
56435815            0    31
56435809            0    32
34                  0    33
56435800            0    34
32                  0    35
17                  0    36
16                  0    37
15                  0    38
14                  0    39
13                  0    40
12                  0    41
11                  0    42
10                  0    43
9                   0    44
8                   0    45
7                   0    46
6                   0    47
5                   0    48
4                   0    49
3                   0    50
33                  0    51
2                   0    52
1                   0    53
31                  0    54

In [12]:
mask = recs.isnull().any(axis=1)

customer_id                       1311279
ItemKNN_tw_True_rs_False_score    1311279
ItemKNN_tw_True_rs_False_rank     1311279
Popularity_cutoff_20_score        1311279
Popularity_cutoff_20_rank         1311279
recs                              1311279
rank                              1311279
dtype: int64

In [10]:
b = [e for e in a if "recs" in e]

In [11]:
b

['_recs']

In [ ]:
ens_recs

In [ ]:
models_names = [model.RECS_NAME + "_score" for model in ensemble.models_list]

In [ ]:
models_names

In [ ]:
ens_recs.sort_values([DEFAULT_USER_COL, *models_names], ascending=False)

In [ ]:
recs_per_user = ens_recs.groupby(DEFAULT_USER_COL).size().values

In [ ]:
import numpy as np
a = list(map(lambda x: np.arange(x), recs_per_user))

In [ ]:
ens_rank = np.concatenate(a)

In [ ]:
ens_recs["ensemble_rank"] = ens_rank

In [ ]:
ens_recs

In [ ]:
len(ens_rank)

In [ ]:
a = pd.DataFrame([[1,0,1], [1,0,1], [3,0,1]], columns=["recs_a", "a_score", "a_rank"])

In [ ]:
a

In [ ]:
a.groupby("recs_a").size().values.mean()

In [ ]:
b = pd.DataFrame([[2,10, 11], [3,10,11], [4,10,11]], columns=["recs_b", "b_score", "b_rank"])

In [ ]:
merged = pd.merge(a, b, left_on="recs_a", right_on="recs_b", how="outer")

In [ ]:
merged

In [ ]:
merged["recs"] = merged.filter(like="recs").ffill(axis=1).iloc[:, -1]

In [ ]:
merged

In [ ]:
merged["a"] = merged["a"].fillna(-1)
merged["b"] = merged["b"].fillna(-1)
merged

In [ ]:
merged["temp"] = max(merged["a"], merged["b"])

In [ ]:
for i, j in zip(i in range(len(df)), j in cutoff):
    if i == 0:
        pass
    else:
        i = j
    filtered = df.loc[i:i+12,:]
    i = j

In [ ]:
rs
i = 0
for cut in cutoffs:
    df.loc[i:i+12, :]
    i = cut