In [6]:
import pandas as pd
from hnmchallenge.constant import *
from hnmchallenge.models.itemknn.itemknn import ItemKNN
from hnmchallenge.models_prediction.recs_interface import RecsInterface
from hnmchallenge.stratified_dataset import StratifiedDataset
from hnmchallenge.utils.logger import set_color
from hnmchallenge.models_prediction.itemknn_recs import ItemKNNRecs
from hnmchallenge.models_prediction.ensemble_recs_interface import EnsembleRecs

In [3]:
dataset = StratifiedDataset()

In [22]:
rec_ens_1 = ItemKNNRecs(
        kind="train", cutoff=100, time_weight=True, remove_seen=False, dataset=dataset
    )

rec_ens_2 = ItemKNNRecs(
        kind="train", cutoff=100, time_weight=False, remove_seen=False, dataset=dataset
    )
rec_ens_3 = ItemKNNRecs(
        kind="train", cutoff=100, time_weight=True, remove_seen=True, dataset=dataset
    )

In [13]:
ensemble = EnsembleRecs(models_list=[rec_ens_1, rec_ens_2, rec_ens_3], kind="train", dataset=StratifiedDataset)

Creating ensemble with:
ItemKNN_tw_True_rs_False
ItemKNN_tw_False_rs_False

In [21]:
ensemble.get_recommendations()

Computing similarity...

  0%|          | 0/1 [00:01<?, ?it/s]

Computing similarity...

  0%|          | 0/1 [00:00<?, ?it/s]

       customer_id  ItemKNN_tw_True_rs_False_score  \
0                0                        0.010251
1                0                        0.010230
2                0                        0.009971
3                0                        0.006985
4                0                        0.006964
...            ...                             ...
12513           98                             NaN
12514           98                             NaN
12515           98                             NaN
12516           98                             NaN
12517           98                             NaN

       ItemKNN_tw_True_rs_False_rank  ItemKNN_tw_False_rs_False_score  \
0                                1.0                         1.719766
1                                2.0                         1.721037
2                                3.0                         1.659686
3                                4.0                         1.147965
4                                5.0                         1.153606
...                              ...                              ...
12513                            NaN                         0.052019
12514                            NaN                         0.051511
12515                            NaN                         0.051487
12516                            NaN                         0.051476
12517                            NaN                         0.051237

       ItemKNN_tw_False_rs_False_rank     recs
0                                 4.0   1482.0
1                                 3.0   1638.0
2                                 5.0   1797.0
3                                 7.0   4861.0
4                                 6.0   1652.0
...                               ...      ...
12513                            94.0   1516.0
12514                            96.0   3199.0
12515                            97.0   2630.0
12516                            98.0    620.0
12517                            99.0  10949.0

[12518 rows x 6 columns]
Average recs per user: 125.18

,customer_id,ItemKNN_tw_True_rs_False_score,ItemKNN_tw_True_rs_False_rank,ItemKNN_tw_False_rs_False_score,ItemKNN_tw_False_rs_False_rank,recs
0,0,0.010251,1.0,1.719766,4.0,1482.0
1,0,0.010230,2.0,1.721037,3.0,1638.0
2,0,0.009971,3.0,1.659686,5.0,1797.0
3,0,0.006985,4.0,1.147965,7.0,4861.0
4,0,0.006964,5.0,1.153606,6.0,1652.0
...,...,...,...,...,...,...
12513,98,NaN,NaN,0.052019,94.0,1516.0
12514,98,NaN,NaN,0.051511,96.0,3199.0
12515,98,NaN,NaN,0.051487,97.0,2630.0
12516,98,NaN,NaN,0.051476,98.0,620.0
12517,98,NaN,NaN,0.051237,99.0,10949.0

In [47]:
a = pd.DataFrame([[1,0,1], [1,0,1], [3,0,1]], columns=["recs_a", "a_score", "a_rank"])

In [48]:
a

   recs_a  a_score  a_rank
0       1        0       1
1       1        0       1
2       3        0       1

In [49]:
a.groupby("recs_a").size().values.mean()

1.5

In [36]:
b = pd.DataFrame([[2,10, 11], [3,10,11], [4,10,11]], columns=["recs_b", "b_score", "b_rank"])

In [37]:
merged = pd.merge(a, b, left_on="recs_a", right_on="recs_b", how="outer")

In [38]:
merged

   recs_a  a_score  a_rank  recs_b  b_score  b_rank
0     1.0      0.0     1.0     NaN      NaN     NaN
1     2.0      0.0     1.0     2.0     10.0    11.0
2     3.0      0.0     1.0     3.0     10.0    11.0
3     NaN      NaN     NaN     4.0     10.0    11.0

In [39]:
merged["recs"] = merged.filter(like="recs").ffill(axis=1).iloc[:, -1]

In [40]:
merged

   recs_a  a_score  a_rank  recs_b  b_score  b_rank  recs
0     1.0      0.0     1.0     NaN      NaN     NaN   1.0
1     2.0      0.0     1.0     2.0     10.0    11.0   2.0
2     3.0      0.0     1.0     3.0     10.0    11.0   3.0
3     NaN      NaN     NaN     4.0     10.0    11.0   4.0

In [21]:
merged["a"] = merged["a"].fillna(-1)
merged["b"] = merged["b"].fillna(-1)
merged

     a  a_score  a_rank    b  b_score  b_rank
0  1.0      0.0     1.0 -1.0      NaN     NaN
1  2.0      0.0     1.0  2.0     10.0    11.0
2  3.0      0.0     1.0  3.0     10.0    11.0
3 -1.0      NaN     NaN  4.0     10.0    11.0

In [22]:
merged["temp"] = max(merged["a"], merged["b"])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
for i, j in zip(i in range(len(df)), j in cutoff):
    if i == 0:
        pass
    else:
        i = j
    filtered = df.loc[i:i+12,:]
    i = j

In [ ]:
rs
i = 0
for cut in cutoffs:
    df.loc[i:i+12, :]
    i = cut