In [33]:
import numpy as np
import pandas as pd
from hnmchallenge.constant import *
from hnmchallenge.data_reader import DataReader
from hnmchallenge.datasets.last_month_last_day import LMLDDataset
from hnmchallenge.datasets.last_month_last_week_dataset import LMLWDataset
from hnmchallenge.datasets.last_week_last_week import LWLWDataset
from hnmchallenge.evaluation.python_evaluation import map_at_k, recall_at_k
from hnmchallenge.models_prediction.bought_items_recs import BoughtItemsRecs
from hnmchallenge.models_prediction.ease_recs import EaseRecs
from hnmchallenge.models_prediction.itemknn_recs import ItemKNNRecs
from hnmchallenge.models_prediction.popularity_recs import PopularityRecs
from hnmchallenge.models_prediction.recs_interface import RecsInterface
from hnmchallenge.models_prediction.time_pop import TimePop
from hnmchallenge.models_prediction.ensemble_recs import EnsembleRecs

In [34]:
dataset = LMLDDataset()

In [38]:
models = [
        # "cutf_100_PSGE_tw_True_rs_False_k_256",
        # "cutf_100_Popularity_cutoff_100",
        "cutf_100_TimePop_alpha_1.0",
        #"cutf_100_EASE_tw_True_rs_False_l2_0.001",
        "cutf_100_ItemKNN_tw_True_rs_False",
        # "cutf_40_Popularity_cutoff_40",
        # "cutf_0_BoughtItemsRecs",
    ]
dataset = LMLDDataset()

ensemble = EnsembleRecs(
            models_list=models,
            kind="train",
            dataset=dataset,
        )
recs_df=ensemble.get_recommendations()

Creating ensemble with:
cutf_100_TimePop_alpha_1.0
cutf_100_EASE_tw_True_rs_False_l2_0.001
cutf_100_ItemKNN_tw_True_rs_False


loading recs model:
 cutf_100_TimePop_alpha_1.0
loading recs model:
 cutf_100_EASE_tw_True_rs_False_l2_0.001
loading recs model:
 cutf_100_ItemKNN_tw_True_rs_False
TimePop_alpha_1.0_recs
EASE_tw_True_rs_False_l2_0.001_recs
['customer_id', 'TimePop_alpha_1.0_recs', 'relevance']
['customer_id', 'EASE_tw_True_rs_False_l2_0.001_recs', 'relevance']
dropping cols: ['TimePop_alpha_1.0_recs', 'EASE_tw_True_rs_False_l2_0.001_recs']
recs
ItemKNN_tw_True_rs_False_recs
['customer_id', 'recs', 'relevance']
['customer_id', 'ItemKNN_tw_True_rs_False_recs', 'relevance']
dropping cols: ['ItemKNN_tw_True_rs_False_recs']
Average recs per user: 148.9449223619212

In [39]:
recs=recs_df

In [40]:
recs

,customer_id,TimePop_alpha_1.0_score,TimePop_alpha_1.0_rank,relevance,EASE_tw_True_rs_False_l2_0.001_score,EASE_tw_True_rs_False_l2_0.001_rank,recs,ItemKNN_tw_True_rs_False_score,ItemKNN_tw_True_rs_False_rank,rank
0,25,3.863502,1.0,0,NaN,NaN,4136.0,NaN,NaN,1
72,25,-0.316614,73.0,0,NaN,NaN,23245.0,NaN,NaN,2
71,25,-0.316613,72.0,0,NaN,NaN,22158.0,NaN,NaN,3
70,25,-0.316613,71.0,0,NaN,NaN,20453.0,NaN,NaN,4
69,25,-0.316613,70.0,0,NaN,NaN,23722.0,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...
7453091,1166002,NaN,NaN,0,0.005784,71.0,9663.0,NaN,NaN,160
7453092,1166002,NaN,NaN,0,0.005751,72.0,2067.0,NaN,NaN,161
7453093,1166002,NaN,NaN,0,0.005748,73.0,2193.0,NaN,NaN,162
7453083,1166002,NaN,NaN,0,0.006164,63.0,2345.0,NaN,NaN,163
9678589,1166002,NaN,NaN,0,NaN,NaN,16766.0,0.005776,100.0,164

In [41]:
recs=recs.fillna(0)

In [43]:
score_cols = [col for col in recs_df.columns if 'score' in col]

In [44]:
score_cols

['TimePop_alpha_1.0_score',
 'EASE_tw_True_rs_False_l2_0.001_score',
 'ItemKNN_tw_True_rs_False_score']

In [45]:
for column in score_cols:
        recs[column] = (recs[column] - recs[column].mean()) / recs[column].std()

In [46]:
recs

,customer_id,TimePop_alpha_1.0_score,TimePop_alpha_1.0_rank,relevance,EASE_tw_True_rs_False_l2_0.001_score,EASE_tw_True_rs_False_l2_0.001_rank,recs,ItemKNN_tw_True_rs_False_score,ItemKNN_tw_True_rs_False_rank,rank
0,25,3.498373,1.0,0,-0.171405,0.0,4136.0,-0.158211,0.0,1
72,25,-0.536675,73.0,0,-0.171405,0.0,23245.0,-0.158211,0.0,2
71,25,-0.536675,72.0,0,-0.171405,0.0,22158.0,-0.158211,0.0,3
70,25,-0.536675,71.0,0,-0.171405,0.0,20453.0,-0.158211,0.0,4
69,25,-0.536675,70.0,0,-0.171405,0.0,23722.0,-0.158211,0.0,5
...,...,...,...,...,...,...,...,...,...,...
7453091,1166002,-0.231049,0.0,0,0.540972,71.0,9663.0,-0.158211,0.0,160
7453092,1166002,-0.231049,0.0,0,0.536853,72.0,2067.0,-0.158211,0.0,161
7453093,1166002,-0.231049,0.0,0,0.536552,73.0,2193.0,-0.158211,0.0,162
7453083,1166002,-0.231049,0.0,0,0.587725,63.0,2345.0,-0.158211,0.0,163
9678589,1166002,-0.231049,0.0,0,-0.171405,0.0,16766.0,0.119839,100.0,164

ItemKNN:
Users:39205
Recall@100:0.1397332847340381
MAP@100: 0.04217208947113406

Time_Pop:
Users:47340
Recall@100:0.1839606121190764
MAP@100:0.0970550910163751