In [1]:
import pandas as pd
from hnmchallenge.data_reader import DataReader
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np



from hnmchallenge.constant import *
import datetime

In [2]:
dataset = StratifiedDataset()
dr = DataReader()

In [3]:
holdin = dataset.get_holdin()

In [6]:
holdin[[DEFAULT_USER_COL, DEFAULT_ITEM_COL, "t_dat"]].drop_duplicates()

          customer_id  article_id      t_dat
0                   0           0 2018-09-20
2                   0           0 2019-08-05
3                   0         644 2019-08-16
4                   0        1952 2019-10-06
6                   0        1482 2020-04-15
...               ...         ...        ...
10955395      1136204       17478 2020-09-22
10955396      1136205       10033 2020-09-22
10955397      1136205        7580 2020-09-22
10955398      1136205        1765 2020-09-22
10955399      1136205         838 2020-09-22

[9728259 rows x 3 columns]

In [8]:
holdin

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
1        2018-09-20            0           0  0.008458                 2
2        2019-08-05            0           0  0.007610                 2
3        2019-08-16            0         644  0.039576                 2
4        2019-10-06            0        1952  0.030492                 2
...             ...          ...         ...       ...               ...
10955395 2020-09-22      1136204       17478  0.042356                 2
10955396 2020-09-22      1136205       10033  0.011847                 2
10955397 2020-09-22      1136205        7580  0.022017                 2
10955398 2020-09-22      1136205        1765  0.016932                 2
10955399 2020-09-22      1136205         838  0.032186                 2

[10955400 rows x 5 columns]

In [7]:
len(holdin)

10955400

In [10]:
holdin.isnull().values.any()

False

In [12]:
from hnmchallenge.features.user_item_features import *

In [15]:
item_df = dr.get_filtered_articles()[DEFAULT_ITEM_COL].to_frame().drop_duplicates()

In [16]:
items = dataset.get_holdin()[DEFAULT_ITEM_COL].unique()

In [17]:
item_df[item_df[DEFAULT_ITEM_COL].isin(items)]

       article_id
0               0
1               1
2               2
3               3
4               4
...           ...
22062       22062
22063       22063
22064       22064
22065       22065
22066       22066

[21131 rows x 1 columns]

In [18]:
item_df

       article_id
0               0
1               1
2               2
3               3
4               4
...           ...
22064       22064
22065       22065
22066       22066
22067       22067
22068       22068

[22069 rows x 1 columns]

In [21]:
dr.get_filtered_articles()["colour_group_code"].to_frame()

       colour_group_code
0                      9
1                      9
2                     72
3                      8
4                      9
...                  ...
22064                  9
22065                 19
22066                 32
22067                 10
22068                 17

[22069 rows x 1 columns]

In [22]:
dr.get_filtered_full_data()

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
1        2018-09-20            0           0  0.008458                 2
2        2018-09-20            1           1  0.033881                 1
3        2018-09-20            2           2  0.021593                 1
4        2018-09-20            3           3  0.022017                 2
...             ...          ...         ...       ...               ...
14361083 2020-09-22       198005       20308  0.059305                 2
14361084 2020-09-22       198005       16094  0.042356                 2
14361085 2020-09-22       798833       21707  0.043203                 1
14361086 2020-09-22       395317        4994  0.006763                 1
14361087 2020-09-22       728040       20519  0.033881                 2

[14361088 rows x 5 columns]

In [23]:
dataset.get_holdin()

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
1        2018-09-20            0           0  0.008458                 2
2        2019-08-05            0           0  0.007610                 2
3        2019-08-16            0         644  0.039576                 2
4        2019-10-06            0        1952  0.030492                 2
...             ...          ...         ...       ...               ...
10955395 2020-09-22      1136204       17478  0.042356                 2
10955396 2020-09-22      1136205       10033  0.011847                 2
10955397 2020-09-22      1136205        7580  0.022017                 2
10955398 2020-09-22      1136205        1765  0.016932                 2
10955399 2020-09-22      1136205         838  0.032186                 2

[10955400 rows x 5 columns]

In [9]:
item_df = dr.get_filtered_articles()

In [10]:
item_df

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0,377277,Svea Cropped Tank,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Basic 1,D,Divided,2,Divided,51,Divided Basics,1002,Jersey Basic,"Short, fitted jersey top with narrow shoulder ..."
1,1,397068,Skinny L.W Bargain (1),272,Trousers,Garment Lower body,1010023,Denim,9,Black,...,Denim trousers,F,Menswear,3,Menswear,56,Denim Men,1016,Trousers Denim,5-pocket low-rise jeans in washed stretch deni...
2,2,562252,Space 5 pkt tregging,272,Trousers,Garment Lower body,1010023,Denim,72,Blue,...,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,Skinny-fit treggings in superstretch twill wit...
3,3,464277,Greta Shortie (Daisy Mid) 3p,286,Underwear bottom,Underwear,1010016,Solid,8,Dark Grey,...,Casual Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Shortie briefs in cotton with a mid waist, lin..."
4,4,573937,ED Madison Skinny HW,272,Trousers,Garment Lower body,1010016,Solid,9,Black,...,Woven bottoms,A,Ladieswear,1,Ladieswear,2,H&M+,1009,Trousers,5-pocket jeans in superstretch denim with a hi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22064,22064,913290,NASA Bryson Pile 39.99:-,252,Sweater,Garment Upper body,1010014,Placement print,9,Black,...,Jersey License,F,Menswear,3,Menswear,55,Contemporary Street,1005,Jersey Fancy,Long-sleeved jacket in soft faux shearling wit...
22065,22065,860135,Pat ls bd plaid,259,Shirt,Garment Upper body,1010004,Check,19,Greenish Khaki,...,Shirt,F,Menswear,3,Menswear,21,Contemporary Casual,1011,Shirts,"Shirt in soft, checked cotton flannel with a b..."
22066,22066,539060,TP BOSSE fancy OH hood SB,308,Hoodie,Garment Upper body,1010001,All over pattern,32,Orange,...,Kids Boy Jersey Basic,H,Children Sizes 92-140,4,Baby/Children,72,Boys Underwear & Basics,1002,Jersey Basic,Long-sleeved top in soft sweatshirt fabric mad...
22067,22067,810737,Sleepbag Padded,49,Sleeping sack,Underwear/nightwear,1010008,Front print,10,White,...,Baby Nightwear,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1017,"Under-, Nightwear","Padded sleep bag in soft, patterned cotton jer..."
22068,22068,533261,5P LS BODY SOLID,256,Bodysuit,Garment Upper body,1010016,Solid,17,Yellowish Brown,...,Baby basics,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1002,Jersey Basic,Long-sleeved bodysuits in soft organic cotton ...

In [11]:
item_df.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [59]:
item_df["detail_desc"].nunique()

11246

In [42]:
dr.get_filtered_customers()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,0,0.0,0.0,ACTIVE,NONE,22.0,6d98a3ca1370c33de04f4a0c2e81cd9c9e36d9501ca6dc...
1,1,0.0,0.0,ACTIVE,NONE,26.0,4845d19cdb5e363f52a5d9899ff2354fb39229c46824e4...
2,2,0.0,0.0,ACTIVE,NONE,53.0,ad36d566f461bead333901eb0f36a7fca1f86cac0e4f9f...
3,3,0.0,0.0,ACTIVE,NONE,38.0,17453ea79bc8f99f3e991b213bf26da9be55693bad8d13...
4,4,1.0,1.0,ACTIVE,Regularly,28.0,3fc82ea96449cbb089311dc2999deda150afd8496337f2...
...,...,...,...,...,...,...,...
1136201,1136201,1.0,1.0,ACTIVE,Regularly,53.0,d5b28659d67f2d3f967c0e7e3dd9653fcc737087880546...
1136202,1136202,0.0,0.0,ACTIVE,NONE,46.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
1136203,1136203,0.0,0.0,ACTIVE,NONE,19.0,19b57d8db25e3620b7fbe3a3448e39307d62f2a91c5035...
1136204,1136204,0.0,0.0,ACTIVE,NONE,22.0,c00a018625eb885cefe55cf75537079538bd242b8c9eae...
1136205,1136205,1.0,1.0,ACTIVE,Regularly,27.0,37b5f7e769533b36cf12ae9b109da17b7b972c84610d27...