In [1]:
import pandas as pd
from hnmchallenge.data_reader import DataReader
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from hnmchallenge.dataset import Dataset
from hnmchallenge.filtered_dataset import FilterdDataset
from hnmchallenge.stratified_dataset import StratifiedDataset
from hnmchallenge.constant import *
import datetime

In [2]:
dataset = StratifiedDataset()
dr = DataReader()

In [3]:
holdin = dataset.get_holdin()

In [6]:
holdin[[DEFAULT_USER_COL, DEFAULT_ITEM_COL, "t_dat"]].drop_duplicates()

          customer_id  article_id      t_dat
0                   0           0 2018-09-20
2                   0           0 2019-08-05
3                   0         644 2019-08-16
4                   0        1952 2019-10-06
6                   0        1482 2020-04-15
...               ...         ...        ...
10955395      1136204       17478 2020-09-22
10955396      1136205       10033 2020-09-22
10955397      1136205        7580 2020-09-22
10955398      1136205        1765 2020-09-22
10955399      1136205         838 2020-09-22

[9728259 rows x 3 columns]

In [8]:
holdin

              t_dat  customer_id  article_id     price  sales_channel_id
0        2018-09-20            0           0  0.008458                 2
1        2018-09-20            0           0  0.008458                 2
2        2019-08-05            0           0  0.007610                 2
3        2019-08-16            0         644  0.039576                 2
4        2019-10-06            0        1952  0.030492                 2
...             ...          ...         ...       ...               ...
10955395 2020-09-22      1136204       17478  0.042356                 2
10955396 2020-09-22      1136205       10033  0.011847                 2
10955397 2020-09-22      1136205        7580  0.022017                 2
10955398 2020-09-22      1136205        1765  0.016932                 2
10955399 2020-09-22      1136205         838  0.032186                 2

[10955400 rows x 5 columns]

In [7]:
len(holdin)

10955400

In [10]:
holdin.isnull().values.any()

False

In [12]:
from hnmchallenge.features.user_item_features import *

In [ ]:
f = ItemPrice()