In [1]:
import pandas as pd
from hnmchallenge.data_reader import DataReader
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


from hnmchallenge.models.top_pop import TopPop
from hnmchallenge.evaluation.python_evaluation import map_at_k
from hnmchallenge.constant import *
from hnmchallenge.models.sgmc.sgmc import SGMC
from hnmchallenge.models.ease.ease import EASE
from hnmchallenge.models.itemknn.itemknn import ItemKNN 
from hnmchallenge.data_reader import DataReader
import datetime

In [2]:
dataset = Dataset()
dr = DataReader()

In [3]:
full_data = dr.get_full_data()

In [4]:
full_data.head()

       t_dat  customer_id  article_id     price  sales_channel_id
0 2018-09-20            0           0  0.050831                 2
1 2018-09-20            0           1  0.030492                 2
2 2018-09-20            1           2  0.015237                 2
3 2018-09-20            1           3  0.016932                 2
4 2018-09-20            1           4  0.016932                 2

In [5]:
hold_out = full_data[full_data["t_dat"]>"2020-09-14"]
hold_in = full_data[(full_data["t_dat"]<="2020-09-14")]

In [6]:
hold_in.reset_index(drop=True).to_feather(dr.get_preprocessed_data_path() / "full_holdin_last_week.feather")
hold_out.reset_index(drop=True).to_feather(dr.get_preprocessed_data_path() / "full_holdout_last_week.feather")