In [5]:
import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb
from lightgbm import plot_importance
import joblib
from hnmchallenge.constant import *
from hnmchallenge.data_reader import DataReader
from hnmchallenge.evaluation.python_evaluation import map_at_k, recall_at_k
from hnmchallenge.feature_manager import FeatureManager
from hnmchallenge.datasets.last_week_last_week import LWLWDataset
from hnmchallenge.datasets.last_month_last_week_dataset import LMLWDataset
from hnmchallenge.datasets.last_month_last_day import LMLDDataset
from hnmchallenge.datasets.last_month_last_week_user import LMLUWDataset
from hnmchallenge.models.itemknn.itemknn import ItemKNN
import lightgbm as lgb
from hnmchallenge.datasets.last2month_last_day import L2MLDDataset
from hnmchallenge.datasets.all_items_last_month_last_day import AILMLDDataset
from hnmchallenge.datasets.all_items_last_month_last_week import AILMLWDataset

In [3]:
dataset = AILMLDDataset()
dr = DataReader()

In [4]:
base_load_path = dataset._DATASET_PATH / "lgbm_models"

In [1]:
VERSION = 0
#NAME = f"cutf_100_ItemKNN_tw_True_rs_False"
NAME = "dataset_iip"
#NAME = f"cutf_200_EASE_tw_True_rs_False_l2_0.1"
#NAME = f"cutf_100_EASE_tw_True_rs_True_l2_0.1"
#NAME = "cutf_100_TimePop_alpha_1.0"
DATASET = f"{NAME}_{VERSION}.feather"
MODEL_NAME = f"lgbm_{DATASET}.pkl"

In [2]:
model=joblib.load(base_load_path/MODEL_NAME)

NameError: name 'joblib' is not defined

In [3]:
fig, ax = plt.subplots(figsize=(20, 20))
plot_importance(model, ax=ax)
plt.show()

NameError: name 'plt' is not defined

In [179]:
model.best_iteration_

153

In [8]:
import re
features = pd.read_feather(dataset._DATASET_PATH / f"dataset_dfs/full/{DATASET}")
features = features.rename(columns=lambda x: re.sub("[^A-Za-z0-9_]+", "", x))

# Remember to use the bert_ntree_limit when taking the predictions

In [9]:
features.head()

,customer_id,article_id,TimePop_alpha_10_score,TimePop_alpha_10_rank,colour_group_code,i_sales_channel_score_2_x,i_sales_channel_score_1_x,department_no,garment_group_no,index_group_no,...,average,time_score,tdiff,times_item_bought,ItemKNN_score,ItemKNN_rank,graphical_appearance_no_gbm,index_code_gbm,index_group_name_gbm,product_group_name_gbm
0,0,2067,5.338943,1.0,9,0.846024,0.153976,1747,1009,2,...,2.5,1.0,0.004855,1.0,0.001713,1.0,0,7,4,3
1,0,2257,5.338941,2.0,73,0.935973,0.064027,1747,1009,2,...,2.5,1.0,0.004855,1.0,0.001367,3.0,0,7,4,3
2,0,1871,5.338941,3.0,71,0.835887,0.164113,1747,1009,2,...,2.5,1.0,0.004855,1.0,0.001608,2.0,0,7,4,3
3,0,6262,5.338940,4.0,9,0.991320,0.008680,1722,1009,1,...,2.5,1.0,0.004855,1.0,0.001009,4.0,0,0,0,3
4,0,11440,5.338939,5.0,11,0.986473,0.013527,1636,1005,1,...,2.5,1.0,0.004855,1.0,0.000765,9.0,0,0,0,0

In [10]:
features.columns

Index(['customer_id', 'article_id', 'TimePop_alpha_10_score',
       'TimePop_alpha_10_rank', 'colour_group_code',
       'i_sales_channel_score_2_x', 'i_sales_channel_score_1_x',
       'department_no', 'garment_group_no', 'index_group_no', 'popularity',
       'popularity_last_month', 'number_bought', 'perceived_colour_master_id',
       'perceived_colour_value_id', 'product_type_no', 'section_no', 'price',
       'avg_price_x', 'max_price', 'min_price', 'std_price', 'sales_factor',
       'i_sales_channel_score_2_y', 'i_sales_channel_score_1_y',
       'popularity_sales_channel_1', 'popularity_sales_channel_2', 'pop_25',
       'pop_25_40', 'pop_40_60', 'pop_60', 'price_mean', 'price_min',
       'price_max', 'active', 'age', 'club_member_status_num', 'Monthly',
       'NONE', 'None', 'Regularly', 'FN', 'avg_price_y', 'user_min_price',
       'user_max_price', 'user_tendency', 'user_tendency_lm',
       'user_average_buy_day', 'u_sales_channel_score_2',
       'u_sales_channel_score_1', 'average', 'time_score', 'tdiff',
       'times_item_bought', 'ItemKNN_score', 'ItemKNN_rank',
       'graphical_appearance_no_gbm', 'index_code_gbm', 'index_group_name_gbm',
       'product_group_name_gbm'],
      dtype='object')

In [11]:
cat = [
    "index_code_gbm",
    "product_group_name_gbm",
    "index_group_name_gbm",
    "graphical_appearance_no_gbm",
]

cat_index = [i for i, c in enumerate(features.columns) if c in cat]
print(cat_index)

for col in cat:
    features[col] = pd.Categorical(features[col])

[56, 57, 58, 59]

In [12]:
customer_article_df = features[[DEFAULT_USER_COL, DEFAULT_ITEM_COL]].copy()
X = features.drop([DEFAULT_USER_COL, DEFAULT_ITEM_COL], axis=1)

In [13]:
y_pred = model.predict(X, num_iteration=model.best_iteration_, n_jobs=72)

In [14]:
customer_article_df["predicted_score"] = y_pred

In [15]:
customer_article_df

           customer_id  article_id  predicted_score
0                    0        2067         2.151094
1                    0        2257         1.595641
2                    0        1871         1.954697
3                    0        6262         1.275684
4                    0       11440        -1.203858
...                ...         ...              ...
254063647      1371979       13794        -0.784724
254063648      1371979        2659        -1.598550
254063649      1371979         289        -1.548159
254063650      1371979        4065        -0.330556
254063651      1371979          98        -0.798896

[254063652 rows x 3 columns]

In [16]:
sorted_scores = customer_article_df.sort_values([DEFAULT_USER_COL, "predicted_score"], ascending=[True, False])

In [17]:
sorted_scores.head(20)

     customer_id  article_id  predicted_score
0              0        2067         2.151094
2              0        1871         1.954697
1              0        2257         1.595641
3              0        6262         1.275684
121            0        1880         1.232110
111            0        5486         1.206525
81             0         141         0.333619
113            0         363         0.206466
10             0         761         0.130958
19             0         197         0.077851
130            0        8199        -0.003728
120            0        5010        -0.092733
35             0        2165        -0.108834
125            0        4593        -0.117881
149            0        8201        -0.120184
194            0         235        -0.121606
82             0          12        -0.146377
75             0       10381        -0.153577
76             0         415        -0.161073
154            0        6073        -0.166676

In [18]:
sorted_scores_index = sorted_scores.reset_index(drop=True)

In [19]:
cutoff = sorted_scores_index.groupby(DEFAULT_USER_COL).size().values
i=0 
filter_indices = []
for cut in cutoff:
    filter_indices.extend(range(i, i+12))
    i=i+cut

In [20]:
cutoff.mean()

185.18028834239567

In [21]:
filter_indices

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1413,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1811,
 1812,
 1813,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2202,
 2203,
 2204,
 2205,
 2206,
 2207,
 2208,
 2209,
 2210,
 2211,
 2212,
 2213,
 2402,
 2403,
 2404,
 2405,
 2406,
 2407,
 2408,
 2409,
 2410,
 2411,
 2412,
 2413,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2808,
 2809,
 2810,
 2811,
 2812,
 2813,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3203,
 3204,
 3205,
 3206,
 3207,
 3208,
 3209,
 3210,
 3211,
 3212,
 3213,
 3214,
 3404,
 3405,
 3406,
 3407,
 3408,
 3409,
 3410,
 3411,
 3412,
 3413,
 3414,
 3415,
 3604,
 3605,
 3606,
 3607,
 3608,
 3609,
 3610,
 3611,
 3612,
 3613,
 3614,
 3615,
 3804,
 3805,
 3806,
 3807,
 3808,
 3809,
 3810,
 3811,
 3812,
 3813,
 3814,
 3815,
 4004,
 4005,
 4006,
 4007,
 4008,
 4009,
 4010,
 4011,
 4012,
 4013,
 4014,
 4015,
 4204,
 4205,
 4206,
 4207,
 4208,
 4209,
 4210,
 4211,
 4212,
 4213,
 4214,
 4215,
 4404,
 4405,
 4406,
 4407,
 4408,
 4409,
 4410,
 4411,
 4412,
 4413,
 4414,
 4415,
 4604,
 4605,
 4606,
 4607,
 4608,
 4609,
 4610,
 4611,
 4612,
 4613,
 4614,
 4615,
 4804,
 4805,
 4806,
 4807,
 4808,
 4809,
 4810,
 4811,
 4812,
 4813,
 4814,
 4815,
 5004,
 5005,
 5006,
 5007,
 5008,
 5009,
 5010,
 5011,
 5012,
 5013,
 5014,
 5015,
 5204,
 5205,
 5206,
 5207,
 5208,
 5209,
 5210,
 5211,
 5212,
 5213,
 5214,
 5215,
 5404,
 5405,
 5406,
 5407,
 5408,
 5409,
 5410,
 5411,
 5412,
 5413,
 5414,
 5415,
 5604,
 5605,
 5606,
 5607,
 5608,
 5609,
 5610,
 5611,
 5612,
 5613,
 5614,
 5615,
 5804,
 5805,
 5806,
 5807,
 5808,
 5809,
 5810,
 5811,
 5812,
 5813,
 5814,
 5815,
 6004,
 6005,
 6006,
 6007,
 6008,
 6009,
 6010,
 6011,
 6012,
 6013,
 6014,
 6015,
 6204,
 6205,
 6206,
 6207,
 6208,
 6209,
 6210,
 6211,
 6212,
 6213,
 6214,
 6215,
 6407,
 6408,
 6409,
 6410,
 6411,
 6412,
 6413,
 6414,
 6415,
 6416,
 6417,
 6418,
 6607,
 6608,
 6609,
 6610,
 6611,
 6612,
 6613,
 6614,
 6615,
 6616,
 6617,
 6618,
 6807,
 6808,
 6809,
 6810,
 6811,
 6812,
 6813,
 6814,
 6815,
 6816,
 6817,
 6818,
 7007,
 7008,
 7009,
 7010,
 7011,
 7012,
 7013,
 7014,
 7015,
 7016,
 7017,
 7018,
 7207,
 7208,
 7209,
 7210,
 7211,
 7212,
 7213,
 7214,
 7215,
 7216,
 7217,
 7218,
 7407,
 7408,
 7409,
 7410,
 7411,
 7412,
 7413,
 7414,
 7415,
 7416,
 7417,
 7418,
 7607,
 7608,
 7609,
 7610,
 7611,
 7612,
 7613,
 7614,
 7615,
 7616,
 7617,
 7618,
 7808,
 7809,
 7810,
 7811,
 7812,
 7813,
 7814,
 7815,
 7816,
 7817,
 7818,
 7819,
 8008,
 8009,
 8010,
 8011,
 8012,
 8013,
 8014,
 8015,
 8016,
 8017,
 8018,
 8019,
 8208,
 8209,
 8210,
 8211,
 8212,
 8213,
 8214,
 8215,
 8216,
 8217,
 8218,
 8219,
 8408,
 8409,
 8410,
 8411,
 8412,
 8413,
 8414,
 8415,
 8416,
 8417,
 8418,
 8419,
 8608,
 8609,
 8610,
 8611,
 8612,
 8613,
 8614,
 8615,
 8616,
 8617,
 8618,
 8619,
 8808,
 8809,
 8810,
 8811,
 8812,
 8813,
 8814,
 8815,
 8816,
 8817,
 8818,
 8819,
 9008,
 9009,
 9010,
 9011,
 9012,
 9013,
 9014,
 9015,
 9016,
 9017,
 9018,
 9019,
 9209,
 9210,
 9211,
 9212,
 9213,
 9214,
 9215,
 9216,
 9217,
 9218,
 9219,
 9220,
 9409,
 9410,
 9411,
 9412,
 9413,
 9414,
 9415,
 9416,
 9417,
 9418,
 9419,
 9420,
 9610,
 9611,
 9612,
 9613,
 9614,
 9615,
 9616,
 9617,
 9618,
 9619,
 9620,
 9621,
 9810,
 9811,
 9812,
 9813,
 9814,
 9815,
 9816,
 9817,
 9818,
 9819,
 9820,
 9821,
 10011,
 10012,
 10013,
 10014,
 10015,
 10016,
 10017,
 10018,
 10019,
 10020,
 10021,
 10022,
 10212,
 10213,
 10214,
 10215,
 10216,
 10217,
 10218,
 10219,
 10220,
 10221,
 10222,
 10223,
 10412,
 10413,
 10414,
 10415,
 10416,
 10417,
 10418,
 10419,
 10420,
 10421,
 10422,
 10423,
 10612,
 10613,
 10614,
 10615,
 10616,
 10617,
 10618,
 10619,
 10620,
 10621,
 10622,
 10623,
 10812,
 10813,
 10814,
 10815,
 10816,
 10817,
 10818,
 10819,
 10820,
 10821,
 10822,
 10823,
 11012,
 11013,
 11014,
 11015,
 11016,
 11017,
 11018,
 11019,
 11020,
 11021,
 11022,
 11023,
 11212,
 11213,
 11214,
 11215,
 11216,
 11217,
 11218,
 11219,
 11220,
 11221,
 11222,
 11223,
 11412,
 11413,
 11414,
 11415,
 11416,
 11417,
 11418,
 11419,
 11420,
 11421,
 11422,
 11423,
 11614,
 11615,
 11616,
 11617,
 11618,
 11619,
 11620,
 11621,
 11622,
 11623,
 11624,
 11625,
 11814,
 11815,
 11816,
 11817,
 11818,
 11819,
 11820,
 11821,
 11822,
 11823,
 11824,
 11825,
 12015,
 12016,
 12017,
 12018,
 12019,
 12020,
 12021,
 12022,
 12023,
 12024,
 12025,
 12026,
 12215,
 12216,
 12217,
 12218,
 12219,
 12220,
 12221,
 12222,
 12223,
 12224,
 12225,
 12226,
 12416,
 12417,
 12418,
 12419,
 12420,
 12421,
 12422,
 12423,
 12424,
 12425,
 12426,
 12427,
 12616,
 12617,
 12618,
 12619,
 12620,
 12621,
 12622,
 12623,
 12624,
 12625,
 12626,
 12627,
 12816,
 12817,
 12818,
 12819,
 12820,
 12821,
 12822,
 12823,
 12824,
 12825,
 12826,
 12827,
 13016,
 13017,
 13018,
 13019,
 13020,
 13021,
 13022,
 13023,
 13024,
 13025,
 13026,
 13027,
 13216,
 13217,
 13218,
 13219,
 13220,
 13221,
 13222,
 13223,
 13224,
 13225,
 13226,
 13227,
 13416,
 13417,
 13418,
 13419,
 13420,
 13421,
 13422,
 13423,
 13424,
 13425,
 13426,
 13427,
 13616,
 13617,
 13618,
 13619,
 13620,
 13621,
 13622,
 13623,
 13624,
 13625,
 13626,
 13627,
 13817,
 13818,
 13819,
 13820,
 13821,
 13822,
 13823,
 13824,
 13825,
 13826,
 13827,
 13828,
 14017,
 14018,
 14019,
 14020,
 14021,
 14022,
 14023,
 14024,
 14025,
 14026,
 14027,
 14028,
 14217,
 14218,
 14219,
 14220,
 14221,
 14222,
 14223,
 14224,
 14225,
 14226,
 14227,
 14228,
 14418,
 14419,
 14420,
 14421,
 14422,
 14423,
 14424,
 14425,
 14426,
 14427,
 14428,
 14429,
 14618,
 14619,
 14620,
 14621,
 14622,
 14623,
 14624,
 14625,
 14626,
 14627,
 14628,
 14629,
 14819,
 14820,
 14821,
 14822,
 14823,
 14824,
 14825,
 14826,
 14827,
 14828,
 14829,
 14830,
 15019,
 15020,
 15021,
 15022,
 15023,
 15024,
 15025,
 15026,
 15027,
 15028,
 15029,
 15030,
 15219,
 15220,
 15221,
 15222,
 15223,
 15224,
 15225,
 15226,
 15227,
 15228,
 15229,
 15230,
 15419,
 15420,
 15421,
 15422,
 15423,
 15424,
 15425,
 15426,
 15427,
 15428,
 15429,
 15430,
 15620,
 15621,
 15622,
 15623,
 15624,
 15625,
 15626,
 15627,
 15628,
 15629,
 15630,
 15631,
 15820,
 15821,
 15822,
 15823,
 15824,
 15825,
 15826,
 15827,
 15828,
 15829,
 15830,
 15831,
 16020,
 16021,
 16022,
 16023,
 16024,
 16025,
 16026,
 16027,
 16028,
 16029,
 16030,
 16031,
 16220,
 16221,
 16222,
 16223,
 16224,
 16225,
 16226,
 16227,
 16228,
 16229,
 16230,
 16231,
 16420,
 16421,
 16422,
 16423,
 16424,
 16425,
 16426,
 16427,
 16428,
 16429,
 16430,
 16431,
 16620,
 16621,
 16622,
 16623,
 ...]

In [22]:
final_df = sorted_scores_index.loc[filter_indices]

In [23]:
final_df

           customer_id  article_id  predicted_score
0                    0        2067         2.151094
1                    0        1871         1.954697
2                    0        2257         1.595641
3                    0        6262         1.275684
4                    0        1880         1.232110
...                ...         ...              ...
254063559      1371979          55        -0.270533
254063560      1371979         353        -0.280082
254063561      1371979         373        -0.281689
254063562      1371979         266        -0.301477
254063563      1371979         158        -0.322544

[16463760 rows x 3 columns]

In [24]:
final_final_df = final_df.drop("predicted_score", axis=1)

In [25]:
dataset.create_submission(final_final_df, sub_name="lmluw_dataset")